.display-1{
color:red !important;
}


.custom-text-justify {
    text-align: justify;
    text-justify: inter-word; /* For additional browser support */
  }

body{
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
background-color: rgb(0, 0, 0);
color:white ;

}

