<div class="d-flex justify-content-center align-items-center">
  <h2 class="danger">List of Servers</h2>

  <p>
    {{ "server with number" }} {{ serverID }} is currently {{ serverStatus }}
  </p>

  <p>
    {{ "server with number" }} {{ getServerId() }} is currently
    {{ getServerStatus() }}
  </p>

  <!--<button class="btn btn-primary" disabled>Add New Server</button> -->

  <p>{{ addNewServer }} with string interpolation</p>

  <p [innerText]="addNewServer">this</p>

  <label>Server Name:</label>
  <!--<input type="text" class="form-control" >
  (input)="onServerNameEntry($event)"> 
  <br><br>
  
  <p>{{ serverName }}</p>
-->

<input type="text" [(ngModel)]="serverName"> <br><br>


<!-- <*ngIf="serverCreated"==Created>{{}}</p> -->
<!-- 
<p *ngIf="serverCreated == 'Created'; else beforeServer">{{serverCreated}}</p> -->

<p *ngFor="let server of serversList">{{server}}</p>


<ng-template #beforeServer><p>{{serverCreated}}</p></ng-template>

<p>{{serverName}}</p>
  <button
    class="btn btn-primary"
    [disabled]="!addNewServer"
    (click)="onServerCreation()"
  >
    Add New Server
  </button>

  <p>{{ serverCreated }}</p>
</div>


